.accordions-block {
    
    &__bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left top;
    }

    .container {
        position: relative;
    }

    
    .accordion {
        color: var(--color-white);
        border-bottom: 1px solid var(--color-white);

        @media screen and (min-width: 1025px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &.active {
            .accordion__title {
                color: var(--color-turquoise-blue);
            }

            .accordion__subtitle {
                .svg-code--underline {
                    width: 100%;
                    opacity: 1;
                }
            }

            .accordion__title span {
                transform: rotate(45deg);
            }
        }

        &__trigger {
            @media screen and (min-width: 1025px) {
                padding: 2rem 0;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &__title {
            display: flex;
            align-items: center;
            font-family: var(--heading-font-pt);
            font-size: clamp(1.25rem, 3.5vw, 2.25rem);
            color: var(--color-white);
            transition: all 200ms ease;

            span {
                color: var(--color-white);
                margin: 0 0.5rem;
                font-size: clamp(1.25rem, 2vw, 1.2rem);;
                transition: all 200ms ease;
            }
        }

        &__subtitle {
            position: relative;
            font-family: var(--body-font);
            font-size: clamp(1.1rem, 3vw, 1.8rem);
            color: var(--color-white);
            text-transform: capitalize;

            .svg-code--underline {
                position: absolute;
                width: 0;
                left: -0.25rem;
                bottom: 0;
                transform: translateY(70%);
                transition: all 100ms ease;
                opacity: 0;
            }
        }

        &__content {
            padding: 0.5rem 0;
            @media screen and (min-width: 1025px) {
                font-size: 1.25rem;
                padding-bottom: 1rem;
            }

            strong {
                font-family: var(--heading-font-pt);
                color: var(--color-turquoise-blue);
            }

            p {
                &:first-child {
                    margin-bottom: 1rem;
                    @media screen and (min-width: 1025px) {
                        margin-bottom: 1.5rem;
                    }
                }
            }

            ul {
                padding-top: 0.5rem;
                padding-left: 1.5rem;
                list-style: disc;

                @media screen and (min-width: 1025px) {
                    padding-left: 3rem;
                }

                ::marker {
                    color: var(--color-turquoise-blue);
                }

                li {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}