.brands {
    position: relative;
    overflow: visible;
    background-color: var(--color-pink);
    padding-top: 6rem;
    padding-bottom: 0;

    &-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__cta {
        text-align: center;
        position: relative;
        z-index: 3;
    }

    .container {
        position: relative;
        max-width: 1360px;
        width: 100%;
        z-index: 2;
    }

    &__heading {
        color: var(--color-white);
        font-family: var(--heading-font-pt);
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        font-size: clamp(24px, 4vw, 38px);
    }

    &__subhead {
        text-align: center;
        color: var(--color-pink);
        font-size: 18px;
        margin-top: 10px;
        font-size: clamp(21px, 3vw, 25px);

    }

    &-slider {
        max-width: 1240px;
        width: 100%;
        margin: 3rem auto;
        position: relative;
        padding: 0 5rem;

        .swiper-wrapper {
            align-items: center;
        }

        .swiper-slide {
            text-align: center;

            img {
                max-height: 180px;
            }
        }
    }

    &-button-prev,
    &-button-next {
        width: 15px;
    }

    @media (min-width: 980px) {

        &{
            padding-bottom: 2rem;
        }

    }
}