.hero {
    overflow: hidden;
    position: relative;
    background-color: var(--color-blue);

    @media screen and (max-width: 750px) {
        padding-top: 25px;
        padding-left: 0;
        padding-right: 0;

        &__content {
            padding-top: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    &__mobile-image {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;

        &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: -1px;
            left: -10%;
            width: 120%;
            height: 10rem;
            background-color: var(--color-blue);
            mask: radial-gradient(45% 8rem at top, #0000 98%, #000);
        }

        img {
            max-width: unset;
            width: 100%;
            height: 100%;
            object-fit: cover
        }

    }

    // &__bg {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    //     background: linear-gradient(to right, #f676af, #6c9aba);

    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }

    &__intro-text {
        color: var(--color-white);
        font-family: var(--body-font);
        font-size: clamp(1.25rem, 4vw, 2rem);
        display: inline-block;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__title {
        font-family: var(--heading-font-pt);
        font-weight: 700;
        background: linear-gradient(to left, #015182 00%, #5f8fd8 40%, #fff 60%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-size: clamp(70px, 10vw, 100px);
        letter-spacing: 8px;
        line-height: 0.9;
    }

    &__title-img {
        width: 100%;
        max-width: 500px;
    }

    &__highlight-text {
        margin-top: 1rem;
        color: var(--color-white);
    }

    &__bottom-text {
        text-transform: uppercase;
        font-family: var(--heading-font-pt);
        color: #fff;
        font-weight: bold;
        margin-top: 5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.5rem;
    }

    &__video {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        &-spacer {
            aspect-ratio: 1/1;
            width: 50%;
        }

        &-wrapper {
            position: absolute;
            height: 100%;
            width: 50%;
            top: 0;
            right: 0;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // transform: translate(-50%, -50%);
            object-fit: cover;
        }

        &-arrow {
            position: absolute;
            bottom: -10px;
            width: 120px;
            right: 0px;
            z-index: 6;
        }

        &-img {
            display: none;
        }
    }

    .svg-code {
        &--hero-crop {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
            transform: translateX(-75%);

            svg {
                height: 100%;
                width: 100%;
            }
        }
    }

     @media screen and (max-width: 750px) {
        &__content {
            padding-top: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }


    @media (min-width: 768px) {
        .container {
            display: flex;
            align-items: center;
            gap: 50px;
        }



        &__content {
            flex: 1;
            padding-top: 0;
        }

        &__title-img {
            max-width: none;
        }

        &__highlight-text,
        &__bottom-text {
            font-size: 18px;
        }

    }

    @media (min-width: 1140px) {
        &__title {
            letter-spacing: 24px;
        }
    }

    @media (min-width: 1240px) {

        &__highlight-text,
        &__bottom-text {
            font-size: 26px;
        }

        &__video-arrow {
            bottom: 9%;
        }
    }

}