.industry-solutions {

    &__item {
        border-bottom: 1px solid var(--color-blue);

        &.no-border-bottom {
            border-bottom: none;
        }

        &.active {
            .industry-solutions__content {
                display: block;
                color: var(--color-blue);
            }

            .industry-solutions__icon {
                transform: rotate(45deg);
            }
        }
    }

    &__trigger {
        width: 100%;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        border: 0;
        cursor: pointer;
        text-align: left;

        @media screen and (min-width: 1025px) {
            padding: 1.5rem 0;
        }
    }

    &__icon {
        font-size: 16px;
        line-height: 1;
        transition: transform 0.3s ease;
        font-weight: 600;
        color: var(--color-blue);
    }

    &__content {
        display: none;
        padding: 0 0 20px;
        font-size: 18px;
        line-height: normal;
    }

    &__header {
        text-align: center;
    }

    &__eyebrow {
        display: inline-block;
        font-family: var(--body-font);
        font-weight: 700;
        font-size: clamp(1.5rem, 4vw, 38px);
        color: var(--color-blue);
        text-transform: uppercase;
    }

    &__title {
        display: block;
        font-family: var(--heading-font-pt);
        font-size: clamp(2.5rem, 6vw, 54px);
        font-weight: bold;
        line-height: 1;
        background: linear-gradient(90deg,
                #ec0d6c 0%,
                #a097b4 40%,
                #72aaba 45%,
                #01527f 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    &__description {
        color: var(--color-blue);
        margin-top: 2rem;
        font-size: clamp(16px, 3vw, 20px);

        strong {
            font-weight: 700;
        }
    }

    &__label {
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 700;
        text-transform: uppercase;
        font-family: var(--body-font);
        letter-spacing: 1px;
        color: var(--color-blue);
        transition: .2s all;

        &:hover{
            color: var(--color-turquoise-blue);
        }
    }

    &__accordion {
        margin-top: 2.5rem;
    }

    &__cta {
        text-align: center;
        margin-top: 2rem;
    }

    @media (min-width: 980px) {

        .container {
            max-width: 1140px;
        }

        &__accordion {
            display: grid;
            grid-template-columns: 1fr 1fr; // 2 columns
            gap: 0 40px; // row gap / column gap
            margin-top: 4rem;
            align-items: start;
        }

        &__item {
            flex: 1;
        }

        &__title {
            margin-top: -20px;
        }

        &__description {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }

        &__cta {
            margin-top: 4rem;
        }
    }
}