.testimonials {
    background-color: var(--color-blue);
    color: #fff;
    overflow: visible;
    position: relative;
    z-index: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &::before,
    &::after {
        content: "";
        background-image: url('./images/testimonial-before-after.svg');
        height: 100px;
        display: block;
        position: absolute;
        top: -50px;
        width: 150%;
        left: 50%;
        background-size: cover;
        transform: translateX(-50%);
        z-index: -1;
    }

    &::after{
        bottom: -50px;
        top: auto;
        background-position: bottom;
    }


    &__eyebrow {
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(22px, 4vw, 28px);
        letter-spacing: 5px;

        strong {
            display: block;
            font-weight: bold;
            font-family: var(--heading-font-pt);
            letter-spacing: 0;
            font-size: 1.6em;
            white-space: pre-wrap;
            margin-top: 5px;

        }
    }

    &__quote-mark {
        display: none;
    }

    &__heading {
        text-align: center;
        font-size: clamp(16px, 4vw, 22px);
        text-transform: uppercase;
        line-height: normal;
        font-weight: 600;
        margin-top: 1rem;
        letter-spacing: 2px;
    }

    &__scribble {
        width: 40%;
        margin: 10px auto 0;
    }

    .testimonial-slider {
        margin-top: 1rem;
        --swiper-pagination-bullet-inactive-color: var(--color-turquoise-blue);
        --swiper-pagination-color: var(--color-turquoise-blue);

        &__pagination {
            text-align: center;
        }

        &__card {
            position: relative;
            max-width: 550px;
            margin: 0 auto;
            &-bg-image{
                position: absolute;
                height: calc(90% - 1rem);
                width: calc(95% - 1rem);
                top: 5%;
                left: 5%;
                object-fit: cover;
            }

            &-stars {
                @media screen and (max-width: 749px) {
                    max-width: 100px;
                }
            }

            &-frame {
                position: relative;
            }

            &-author {
                font-family: var(--manus-font);
                font-size: 1.75rem;
                color: var(--color-turquoise-blue);
                margin-bottom: 0.25rem;
            }

            &-quote {
                margin-bottom: 1rem;
            }

            &-content {
                position: absolute;
                width: 65%;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }

            @media screen and (min-width: 1025px) {
                &-content {
                    top: 10%;
                }
                &-quote {
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                }

                &-author {
                    font-size: 2.5rem;
                }
            }
        }
    }

    


    @media (min-width: 1024px) {
        & {
            padding-top: 6rem;
            padding-bottom: 2rem;
        }

        &__content {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        &__eyebrow {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            strong {
                margin-top: 0;
            }
        }

        &__heading {
            text-align: left;
            text-wrap: pretty;
        }

        &__quote-mark {
            display: block;
            width: 50px;
            margin-bottom: 30px;
        }

        &__scribble {
            margin: 30px 0 0;
            width: 70%;
        }

        &__container {
            max-width: 980px;
        }

        .testimonial-slider {
            width: 60%;
        }


    }

}