.text-icon-blocks {
    @media screen and (min-width: 1400px) {
        padding-top: 6rem;
    }
    @media screen and (max-width: 560px) {
        padding-top: 5rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    &__intro {
        position: relative;

        .svg-code--curly-arrow {
            width: 50px;
            margin: 0 auto;
            transform: translateX(100%) translateY(10%) rotate(-33deg);
        }

        @media screen and (min-width: 1025px) {
            .svg-code--curly-arrow {
                position: absolute;
                top: 15%;
                right: 8%;
                width: 93px;
            }
        }

        @media screen and (min-width: 1400px) {
            .svg-code--curly-arrow {
                top: 100%;
                right: 0;
                transform: translateX(-50%);
            }
        }
    }

    &__title {
        position: relative;
        font-family: var(--body-font);
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        font-size: clamp(1.4rem, 2.5vw, 2.5rem);
        color: var(--color-blue);

        @media screen and (min-width: 1200px) {
            letter-spacing: 3px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

        span {
            font-family: var(--heading-font-pt);
            display: block;
            font-weight: bold;
            font-size: 1.3em;
            letter-spacing: 0;
        }
    }



    &__block {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
        color: var(--color-blue);

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }

        &-wrapper {
            padding: 0 1.5rem 2rem;
        }

        &-title {
            font-family: var(--heading-font-pt);
            color: var(--color-pink);
            font-size: clamp(1.4rem, 2vw, 2rem);
            text-transform: uppercase;
        }

        @media screen and (min-width: 1025px) {
            gap: 3rem;
            font-size: 1.25rem;
            

            &-wrapper {
                max-width: 1000px;
                margin: 0 auto;
                padding: 3rem 1.5rem;
            }

            &-title {
                padding-bottom: 0.5rem;
            }

            &-icon {
                width: 17%;
            }

            &-content {
                width: 83%;
            }
        }

        
    }

    &__cta {
        margin-top: 1rem;
        @media screen and (min-width: 1025px) {
            margin-top: 1.5rem;
        }
    }
}