.blog {
    &__hero {
        overflow: visible;
        background-color: var(--color-blue);

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            
        }

        h1 {
            font-family: var(--heading-font-pt);
            color: var(--color-white);
            // font-weight: bold;
            font-size: clamp(3rem, 3vw, 4rem);
        }

        .container {
            position: relative;
            padding-top: 60px;
             @media screen and (min-width: 1024px) {
                padding-top: 100px;
             }
        }
    }

    &-posts {
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 1.5rem;
        }

        @media screen and (min-width: 1025px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 2rem;
        }
    }

    .post-card {
        margin-bottom: 1.5rem;
    }
}