.accordion {
   
    &__trigger {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
        width: 100%;
        padding: 1rem 0;
        text-align: left;
        background: transparent;
        border: none;

        .svg-icon {
            margin-left: auto;
            flex: none;
            transform: rotate(90deg);
        }
    }

    &__label {
        margin-right: 0.5rem;
        text-transform: uppercase;
        line-height: 1.1;
    }

    &__trigger.active ~ &__content {
        display: block;
    }

    &__content {
        display: none;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    &.active {
        .svg-icon {
            transform: rotate(-90deg);
        }
    }

    @media (min-width: 1025px) {
        &__trigger {
            padding: 1.5rem 0;
        }

        &__content {
            margin-bottom: 1.5rem;
        }

    }
}