.gform_wrapper {
    max-width: 700px;
    margin: 0 auto;

    .gform_fields {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gfield {
        margin: 0;
        width: 100%;
    }

    label,
    .gfield_label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }

    input,
    textarea,
    select {
        width: 100%;
        padding: 0.85rem 1.5rem;
        border: 1px solid rgba(0, 59, 113, 0.062745098);
        border-radius: 25px;
        line-height: 1.4;
        background: rgba(0, 59, 113, 0.062745098);
        color: var(--color-blue);
        font-family: inherit;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border-color: var(--color-turquoise-blue);
        box-shadow: 0 0 0 2px rgba(236, 72, 153, 0.15);
    }

    textarea {
        height: 100px;
        resize: vertical;
    }

    .gfield_required,
    .gfield_required_text {
        color: #ef4444;
    }

    .validation_message,
    .gfield_validation_message {
        margin-top: 0.35rem;
        color: #ef4444;
        font-size: 0.875rem;
    }

    .gfield_error input,
    .gfield_error textarea,
    .gfield_error select {
        border-color: var(--color-turquoise-blue);
        ;
    }

    .gform_footer {
        margin-top: 1.5rem;
    }

    .gform_button,
    input[type="submit"] {
        width: auto;
        padding: 0.5rem 1.5rem;
        border: none;
        border-radius: 999px;
        background: #ec4899;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease;
        letter-spacing: 2px;
    }

    .gform_button:hover,
    input[type="submit"]:hover {
        background: #db2777;
    }

    .hidden_label {
        label {
            display: none;
        }
    }

    .gfield--width-half {
        width: calc(50% - .75rem);
    }

    @media (min-width: 768px) {

         .gform_fields{
            gap: 1.5rem;
        }

        input,
        textarea,
        select {
            font-size: 16px;
        }
    }

    @media (max-width: 768px - 1) {
        .gfield--width-half {
            width: 100%;
        }
    }
}