.social-links ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0.3em;
        background-color: var(--color-pink);
        border-radius: 50%;
        + li {
            margin-left: 0.5rem;
        }
    }

    .svg-icon {
        height: 0.7em;
        width: 0.7em;

        path {
            fill: var(--color-white);
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {

            .svg-icon path {
                fill: var(--color-white);
            }
        }
    }
}