.gfooter {
    color: #fff;
    background-color: var(--color-blue);

    .row {
        display: flex;
        flex-direction: column;
        margin: -.5rem;

        .col {
            margin: .5rem;
            flex: 1 auto;
        }

        @media screen and (min-width: 1025px) {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            .col {
                width: 33%;
            }

            &--reverse {
                flex-direction: row-reverse;
            }
        }
    }

    &__logo {
        text-align: center;
    }

    &-content {
        font-family: var(--heading-font-pt);
    }

    &__content,
    &__bottom {
        padding: 2rem 1rem;
        overflow: hidden;
        text-align: center;

        @media screen and (min-width: 1025px) {
            text-align: left;
        }

        .copy {
            margin-top: 1em;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &-menus {
        ul {
            text-align: right;
        }
        .menu-item__link {
            position: relative;
            padding: 0 1rem;
            margin: 0.3rem 0;
            white-space: nowrap;
            text-transform: capitalize;
            font-family: var(--body-font);
            font-weight: 300;
        }

        @media (max-width: 749px) {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-wrap: nowrap;

                li {

                    &:last-child {
                        .menu-item__link {
                            &::before {
                                display: none;
                            }
                        }
                    }

                }
            }

            .menu-item__link {
                position: relative;
                padding: 0 0.75rem;
                margin: 0.25rem 0;
                white-space: nowrap;
                text-transform: capitalize;
                font-family: var(--body-font);
                font-weight: 300;

                &::before {
                    content: "";
                    height: 100%;
                    width: 1px;
                    background-color: var(--color-white);
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(50%);
                }
            }
        }
    }

    @media (min-width: 1025px) {
        &__content {
            padding: 3rem;
        }

        &__bottom {
            padding: 1rem 3rem;
        }
    }
}