body {
    font-family: var(--body-font);
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section {
    position: relative;
    padding: 4.5rem 1.5rem;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1240px;
}

img {
    max-width: 100%;
}

main {
    overflow: hidden;
}


.swiper-slide,
.swiper-wrapper {
    height: auto !important;
}

.swiper-slide {
    img {
        height: auto;
    }
}


/* Fade-in elements start hidden on desktop */
@media (min-width: 990px) {
    .reveal {
        opacity: 0;
        transform: translateY(40px);
    }

    .pin-spacer {
        // z-index: 999 !important;
    }
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce) {
    .reveal {
        opacity: 1 !important;
        transform: none !important;
    }
}


main {

    ul,
    ol {
        padding-top: 1rem;
        margin-left: 1rem;
        font-size: inherit;

        li {
            padding-left: 0.5rem;
            list-style: none;
            position: relative;
            box-sizing: border-box;

            &:before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                right: 100%;
                color: inherit;
                white-space: nowrap;
                top: .5rem;
                bottom: 0px;
                margin-right: 0.5rem;
                height: 0;
                width: 0;
                border-radius: 50%;
                border: 3px solid;
            }
        }

        @media (min-width: 768px) {
            margin-left: 1.25rem;
        }
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    // font-family: var(--heading-font-pt);
    line-height: 1;
    text-wrap: balance;
    text-transform: uppercase;
}

h1,
.h1 {
  font-size: var(--heading-h1-mobile);

  @media (min-width: 1024px) {
    font-size: var(--heading-h1);
  }
}

h2,
.h2 {
  font-size: var(--heading-h2-mobile);

  @media (min-width: 1024px) {
    font-size: var(--heading-h2);
  }
}

h3,
.h3 {
  font-size: var(--heading-h3-mobile);

  @media (min-width: 1024px) {
    font-size: var(--heading-h3);
  }
}

h4,
.h4 {
  font-size: var(--heading-h4-mobile);

  @media (min-width: 1024px) {
    font-size: var(--heading-h4);
  }
}

h5,
.h5 {
  font-size: var(--heading-h5-mobile);

  @media (min-width: 1024px) {
    font-size: var(--heading-h5);
  }
}

h6,
.h6 {
  font-size: var(--heading-h6-mobile);

  @media (min-width: 1024px) {
    font-size: var(--heading-h6);
  }
}

.gradiant-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    color: transparent;
}

b,
strong {
    font-weight: bold;
}

.position-relative {
    position: relative;
}