body {
    font-family: var(--body-font);
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: var(--heading--pt);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section {
    padding: 4.5rem 1.5rem;
    overflow: hidden;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1240px;
}

img {
    max-width: 100%;
}

main {
    overflow: hidden;
}


.swiper-slide,
.swiper-wrapper {
    height: auto !important;
}

.swiper-slide {
    img {
        height: auto;
    }
}