:root {
    --body-font: 'Futura Bk BT';
    --heading-font: 'Futura';
    --heading-font-pt: 'Futura PT';
    --manus-font: 'Manus';

    --color-white: #fff;
    --color-blue: #003b71;
    --color-pink: #e21c78;
    --color-turquoise-blue: #71d9d2;
}