
:root {
    --body-font: 'Futura Bk BT';
    --heading-font: 'Futura';
    --heading-font-pt: 'Futura PT';
    --manus-font: 'Manus';

    --color-black: #000;
    --color-xdgray: #202125;
    --color-white: #fff;
    --color-blue: #003b71;
    --color-pink: #e21c78;
    --color-turquoise-blue: #71d9d2;

    --heading-h1: 3rem;
    --heading-h2: 2.25rem;
    --heading-h3: 2rem;
    --heading-h4: 1.5rem;
    --heading-h5: 1rem;
    --heading-h6: 0.875rem;

    --heading-h1-mobile: 2.25rem;
    --heading-h2-mobile: 1.875rem;
    --heading-h3-mobile: 1.5rem;
    --heading-h4-mobile: 1.25rem;
    --heading-h5-mobile: 1rem;
    --heading-h6-mobile: 0.9rem;
}

